@charset "UTF-8";

table {
  table-layout: fixed;
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
}

.table--area {
  text-align: center;
  font-size: 18px;
}

th, td {
  padding: 10px;
  border: 1px solid #000000;
}

th {
  background: #319c4a;
  line-height: 26px;
}

td {
  line-height: 22px;
}

tr {
  background: #bcbcbc;
}

tr:nth-child(even){
  background: #d5ffc7;
}

tr:last-child{
  border-top: 1px double rgb(255, 255, 255);
}