@charset "UTF-8";
/* 回答はここから */

.card-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.text {
  list-style: none;
  width: 200px;
  box-shadow: 0 0 0 6px #655;
  outline: 10px solid #655;
  background: #d2b48c;
  padding: 10px;
  margin-right: 60px;
  border-radius: 13px;
}

.text:nth-child(3) {
  margin-right: 0;
}